<%- include('../partials/header') -%>

<div class="add-product container">


<form action="" method="post">

    <label style="display: block;margin: 10px 40px;" for="category">Add new category:</label>
    <input class="input" type="text" name="category" id="" placeholder="add your category">
    <button  style="display: block;margin: 20px 40px;" type="submit">Add</button>

</form>

</div>


