<%- include("../partials/header")-%>
<h2><%= userInfo.name%></h2>
<a href="/users/logout">Logout</a> 
<a href="/admin/add">Add products</a>
<a href="/admin/userlist">UserList</a>
<a href="/admin/allproducts">allproducts</a>