<%- include('partials/header')-%>

<form action="/users/<%=user.id%>/code" method="post">
    <input type="text" name="code" id="" placeholder="Enter your code">
    <button type="submit">submit</button>
</form>
<a href="/users/verify/<%=user.id%>/resend">Resend</a>