<%- include("partials/header")-%>

<form action="/users/forgot" method="post">
    <input style="width: 200px;" type="email" name="email" id="" placeholder="enter your email">
    <button type="submit">submit</button>
</form>