<%- include("partials/header")-%>
<div class="form-group login-div">
    <form action="/users/login" method="post">
        <div class="login-heading">
            <h2>User Login</h2>
        </div>
        <input class="input" type="email" name="email" id="" placeholder="Enter Your Email">
        <input  class="input" type="password" name="password" id="" placeholder="Enter Your Password">
        <% if(msg){ %>
        <h2 class="msg"> <%= msg %> </h2>
        <%}%>
        <div  class="bottom-login">

            <button class="btn btn-success" type="submit">Login</button>
            <a   class="btn btn-secondary" href="/users/register">Register</a>
            <a  class="btn btn-dark" href="/auth/github">Github</a>
        </div>
        <a href="/users/forgot">Forgot Password ?</a>

</form>
</div>